<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户余额查询</title>
    <style>
        .selected {
            background-color: #95ace4;
        }

        #clearButton {
            display: none;
        }
    </style>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>请选择bot购买版本</h1>
    <label id="title"for="category">光夜bot:</label>
    <br></br>
    <button class="version-button" data-version="查理苏" onclick="selectVersion('查理苏')">55</button>
    <button class="version-button" data-version="萧逸" onclick="selectVersion('萧逸')">11</button>
    <button class="version-button" data-version="陆沉" onclick="selectVersion('陆沉')">66</button>
    <button class="version-button" data-version="齐司礼" onclick="selectVersion('齐司礼')">77</button>
    <button class="version-button" data-version="夏鸣星" onclick="selectVersion('夏鸣星')">00</button>
    <br></br>
    <label id="title"for="category">深空bot:</label>
    <br></br>
    <button class="version-button" data-version="沈星回" onclick="selectVersion('沈星回')">⭐</button>
    <button class="version-button" data-version="黎深" onclick="selectVersion('黎深')">🍐</button>
    <button class="version-button" data-version="祁煜" onclick="selectVersion('祁煜')">🐟</button>
    <button class="version-button" data-version="秦彻" onclick="selectVersion('秦彻')">🐦‍⬛</button>
    <br></br>
    <label for="data">请输入您的qq：</label>
    <input type="text" id="data" name="data" required>
    <br><br>
    <!-- <label for="queryType">选择查询类型：</label>
    <select id="queryType" name="queryType">
        <option value="purchase">购买信息</option>
        <option value="feature">功能信息</option>
        <option value="all">所有信息</option>
    </select> -->
    <label for="queryType">选择查询类型：</label>
    <select id="queryTypeSelect" onchange="selectQueryType()">
        <!-- <option value="" disabled selected>选择查询类型</option> -->
        <option value="purchase">购买信息</option>
        <option value="feature">功能信息</option>
        <!-- <option value="all">所有信息</option> -->
    </select>
    

    <button onclick="queryBalance()">查询</button>
    <button onclick="refreshData()">清空</button>

    <br>

    <div id="output"></div>

    <button id="clearButton" onclick="clearData()">清除查询结果</button>
    <h1>额度添加</h1>    
    <label>【新功能】如果查询后你想返回购买月卡或添加bot额度，请： </label>
    <a href="http://101.42.170.17:5000">点击这里👈</a>
    <br><br>
    <h1>双旦限定-盲盒抽奖活动</h1>    
    <label>【活动】微店购买活动券码后点击下方进入盲盒抽奖活动</label>
    <a href="http://49.233.190.253:3002/">进入游戏👈</a>   
    <script src="/static/js/script.js"></script>
    <br><br>
    <br><br>   
</body>
</html>